body.sigin-body {
  background-color: #333;
}

.container.signin-container {
  margin-top: 6%;
}

.card.signin-card {
  padding: 10px 0px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
  height: 175px;
  width: 160px;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #5E35B1;
  background-color: #fff;
  width: 100%;
  margin-bottom: 1.2rem;
  border: 1px solid #5E35B1;
}

button.signin-btn:hover {
  background-color: #5E35B1;
  color: #fff;
}
